//$theme-color: #36afdd;
$theme-widget-color: #4183c4;
//$theme-color: linear-gradient(to right, #5f5795, #65a2cd);
//$theme-color: linear-gradient(to right, #5ca775, #336587);
//$theme-color: linear-gradient(to right, #1d9bee, #1d9bee);

//$theme-color: linear-gradient(to right, #00acc1, #00838f);

//$theme-color: #283337;
$theme-color: #4183c4;
//$theme-color: linear-gradient(to right, #607d8b, #455a64);

$theme-text-color: white;

$theme-hover-color: $theme-widget-color;

$bar-color-hover: rgba(255, 255, 255, .5);
//$bar-color-hover: #42b983;

$bottom1-color: #263136;
$bottom2-color: #313a40;

$side-bar-color: #4183c4;
$side-bar-color-light: rgb(131, 198, 167);
//$theme-color: #dd8c36;
//$theme-text-color: white;
//$theme-hover-color: #dae7da;
//$bottom1-color: #263136;
//$bottom2-color: #313a40;


$mq-desktop--wide: 1280px                           !default;
$mq-desktop: 980px                                  !default;
$mq-mobile: 736px                                   !default;
